@font-face {
    font-family: 'Gagalin';
    src: url('gagalin-400-normal.woff2') format('woff2'), url('gagalin-400-normal.woff') format('woff'), url('gagalin-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}